.App {
  text-align: center;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav__container {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-right: 10rem;
}

.body__container {
  margin-top: 4rem;
}

.example-form {
  margin: 2rem 0;
}

@media only screen and (max-width: 990px) {
  .nav__container {
    height: "100%";
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 0;
  }
}

form {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 40rem;
}

@media only screen and (max-width: 990px) {
  form {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
